@model LojaNinja.MVC.Models.PedidoModel

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/overrides-validacao.js"></script>
}

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top col-*-12 navbar-height beige-bg">
            <div class="col-lg-6 col-md-10 col-sm-6 col-xs-6-offset-2">
                <h3 id="header-text">@ViewBag.NomeUsuarioLogado <small>Logout </small></h3>
            </div>
            <ul class="nav nav-pills right-nav-header-top col-lg-4 col-md-12 col-sm-4 hidden-xs">
                <li role="presentation">
                    <a href="/Pedido/Home" class="icon-hover-effect hidden-xs">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="/Pedido/ListaPedidos" class="icon-hover-effect hidden-xs">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="/Pedido/CadastrarPedido" class="icon-hover-effect hidden-xs ninja-font">
                        Cadastrar Pedido
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

     <img src="http://bit.ly/27o0R05" class="header-image col-md-offset-5" />
    <h2 class="col-md-offset-5 ninja-font white">Camelô dos Ninjas</h2>
    <hr />
    @using (Html.BeginForm("SalvarPedido","Pedido",FormMethod.Post, new { id = "form-cadastro-pedido" })) 
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal form-itens main-form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.DataEntrega, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.DataEntrega, new { htmlAttributes = new { id = "form-data-entrega", @class = "form-control", placeholder = "Ex. 16/08/1998", data_val_date = "Data Incorreta, digite dd/mm/aaaa" } })
                    @Html.ValidationMessageFor(model => model.DataEntrega, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex. Kunai de Safira" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ValorVenda, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ValorVenda, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex. 1200.00" } })
                    @Html.ValidationMessageFor(model => model.ValorVenda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeCliente, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex. Ben-hur Ott" } })
                    @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex. Nova Iorque" } })
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex. Wiscounsin" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group col-md-offset-4">
                    @Html.LabelFor(model => model.Pagamento, htmlAttributes: new { @class = "control-label col-md-2 ninja-font white" })
                    <div class="col-md-3">
                        @Html.EnumDropDownListFor(model => model.Pagamento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pagamento, "", new { @class = "text-danger" })
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-4">
                    <input type="submit" value="Cadastrar!" class="btn btn-default inverted-hover col-md-offset-7 col-md-9" />
                </div>
            </div>
        </div>
    }     

